<a href="https://colab.research.google.com/github/jingwal/pyspark-first/blob/main/pyspark_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [3]:
import pyspark

In [5]:
print(pyspark.__version__)

3.5.5

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('demo').getOrCreate()

In [13]:
spark

In [16]:
df_pyspark=spark.read.csv('/content/sample_data/username.csv',sep=';')

In [17]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [18]:
df_pyspark.show()

+---------+-----------+----------+---------+
|      _c0|        _c1|       _c2|      _c3|
+---------+-----------+----------+---------+
| Username| Identifier|First name|Last name|
| booker12|       9012|    Rachel|   Booker|
|   grey07|       2070|     Laura|     Grey|
|johnson81|       4081|     Craig|  Johnson|
|jenkins46|       9346|      Mary|  Jenkins|
|  smith79|       5079|     Jamie|    Smith|
+---------+-----------+----------+---------+

In [22]:
df_pyspark=spark.read.option('header','true').csv('/content/sample_data/username.csv',sep=';')

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.head(3)

[Row(Username='booker12',  Identifier='9012', First name='Rachel', Last name='Booker'),
 Row(Username='grey07',  Identifier='2070', First name='Laura', Last name='Grey'),
 Row(Username='johnson81',  Identifier='4081', First name='Craig', Last name='Johnson')]

In [27]:
df_pyspark.printSchema()

root
 |-- Username: string (nullable = true)
 |--  Identifier: integer (nullable = true)
 |-- First name: string (nullable = true)
 |-- Last name: string (nullable = true)

In [28]:
df_pyspark=spark.read.option('header','true').csv('/content/sample_data/username.csv',sep=';',inferSchema=True)

In [29]:
df_pyspark.printSchema()

root
 |-- Username: string (nullable = true)
 |--  Identifier: integer (nullable = true)
 |-- First name: string (nullable = true)
 |-- Last name: string (nullable = true)

In [30]:
df_pyspark=spark.read.csv('/content/sample_data/username.csv',sep=';',inferSchema=True,header=True)
df_pyspark.show()

+---------+-----------+----------+---------+
| Username| Identifier|First name|Last name|
+---------+-----------+----------+---------+
| booker12|       9012|    Rachel|   Booker|
|   grey07|       2070|     Laura|     Grey|
|johnson81|       4081|     Craig|  Johnson|
|jenkins46|       9346|      Mary|  Jenkins|
|  smith79|       5079|     Jamie|    Smith|
+---------+-----------+----------+---------+

In [31]:
df_pyspark.columns

['Username', ' Identifier', 'First name', 'Last name']

In [33]:
df_pyspark.select('username')

DataFrame[username: string]

In [34]:
type(df_pyspark.select('username'))

pyspark.sql.dataframe.DataFrame

In [36]:
df_pyspark.select('username').show()

+---------+
| username|
+---------+
| booker12|
|   grey07|
|johnson81|
|jenkins46|
|  smith79|
+---------+

In [39]:
df_pyspark.select(['Username','Last name']).show()

+---------+---------+
| Username|Last name|
+---------+---------+
| booker12|   Booker|
|   grey07|     Grey|
|johnson81|  Johnson|
|jenkins46|  Jenkins|
|  smith79|    Smith|
+---------+---------+